
.git
.gitignore


.env
*.env


bin/
dist/
build/
*.exe
*.test
*.out

vendor/


Dockerfile
docker-compose.yml
docker-compose.*.yml
.dockerignore


README.md
LICENSE
Makefile
commands.txt
migrations/ # (Optional: Keep this if your app runs migrations on startup, remove if not)
deploy/